<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <link href="css/main.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
        </style>
        <script src="js/main.js"></script>
    </head>
    <body>
        <h1>Галерея</h1>
        <div class="gallery-box">
            <div id="gallery-block" class="container">

            </div>
        </div>
        <div class="footer">Powerd by Lily Studio.</div>
        <div class="modal-window-block"><p>Загрузка...</p></div>
        <div class="top-panel">
            <div class="panel-wrapper">
                <div class="logo"></div>
                <div>
                    <p>Загрузить через URL </p>
                    <input id="uploadImageUrl" type="text" placeholder="http://domen/example.jpg"/>
                    <button id="loadFromUrl" class="btn"> Загрузить</button>
                </div>
            </div>
        </div>
    </body>
</html>